.aboutMe{
    width: 100%;
    height: 100vh;
    text-align: center;
}
.data{
    margin-top: 20px;
    display: flex;
    padding: 0 200px;
    gap: 30px;
    align-items: center;
}
.data__picture{
    width: 300px;
}