.skills{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    height: 100vh;
}
.technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 60px;
}
.html:hover {
    background-color: #FC4F13;
}
.css:hover {
    background-color: #39ACDD;
}
.javascript:hover {
    background-color: #F7E025;
    color: initial;
}
.typescript:hover {
    background-color: #377CC8;
}
.react:hover {
    background-color: #0DD9FF;
    color: initial;
}
.trello:hover {
    background-color: #087DC1;
}
.figma:hover {
    background-color: #26262E;
}
.git:hover {
    background-color: #F15639;
}
.github:hover {
    background-color: #23262B;
}