@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Reddit Mono', monospace;
}
:root {
    --primary-color: #1785fb;
    --secondary-color: #6c757d;
    --accent-color: #28a745;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
}
body{
    width: 100%;
    height: 100vh;
}